<div class="quest-list">

  <p>
    The board is stained unnaturally, and slightly warped from water damage.  It smells as though someone overcompensated for a hideous reek with cheap perfume.
  </p>

  <div *ngFor="let quest of quests | async" class="quest-details">
    <h3 (click)="goToQuestDetails(quest)">{{quest.title}}</h3>
    <h4>{{quest.questGiver}}</h4>
    <p>{{quest.description}}</p>

    <hr>

    <div *ngIf="currentRoute === '/barkeep'">
      <app-edit-quest *ngIf="showEditForm" [selectedQuest]="quest" (cancelEditEmitter)="toggleEditForm()"></app-edit-quest>
      <!-- cancelEditEmitter: event listener for emitter in edit-quest component -->
      <button *ngIf="!showEditform" (click)="toggleEditForm()">Edit</button>
    </div>

  </div>

</div>

<a routerLink="">Go back to the bar</a>
