<div class="">
  <h3>Add a New Quest</h3>
  <p>
    As barkeep, you have the option of adding or removing quests from the bulletin!
  </p>

  <label>Title: </label><br>
  <input #newTitle><br>
  <label>Quest Giver: </label><br>
  <input #newQuestGiver><br>
  <label>Description: </label><br>
  <input #newDescription><br>
  <label>Objectives: </label><br>
  <input #newObjectives><br>
  <label>Coinage as Reward: </label><br>
  <input type="number" #newCoinReward><br>

  <button (click)="submitQuest(
    newTitle.value,
    newQuestGiver.value,
    newDescription.value,
    newObjectives.value,
    newCoinReward.value);
      newTitle.value='';
      newQuestGiver.value='';
      newDescription.value='';
      newObjectives.value='';
      newCoinReward.value=''">Submit!</button>

  <button (click)="cancelAddNewQuest()">Cancel!</button>

</div>
